In [1]:
# Dependencies
import requests
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from config import aqi_key

In [2]:
airports_df = pd.read_csv('Resource Files/airports.csv')
airports_df

,IATA,AIRPORT,City,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ADK,Adak,Adak,AK,USA,51.877964,-176.646031
1,ANC,Ted Stevens Anchorage International,Anchorage,AK,USA,61.174320,-149.996186
2,BRW,Wiley Post Will Rogers Memorial,Barrow,AK,USA,71.285448,-156.766002
3,BET,Bethel,Bethel,AK,USA,60.779776,-161.837998
4,CDV,Merle K (Mudhole) Smith,Cordova,AK,USA,60.491834,-145.477650
...,...,...,...,...,...,...,...
336,RKS,Rock Springs-Sweetwater County,Rock Springs,WY,USA,41.594217,-109.065193
337,CLD,MC Clellan-Palomar Airport,NaN,NaN,USA,33.127231,-117.278727
338,MQT,Marquette County Airport,NaN,NaN,USA,46.353639,-87.395361
339,SCE,University Park,NaN,NaN,USA,40.851206,-77.846302
340,SPN,Tinian International Airport,NaN,NaN,N Mariana Islands,14.996111,145.621384

In [3]:
#change the state code to state name in order to match values in api request
airports_df["STATE"].replace({ 'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AS': 'American Samoa',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DC': 'District of Columbia',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'GU': 'Guam',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MP': 'Northern Mariana Islands',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NA': 'National',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'PR': 'Puerto Rico',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VI': 'Virgin Islands',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming'
}, inplace=True)

In [4]:
airports_df

,IATA,AIRPORT,City,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ADK,Adak,Adak,Alaska,USA,51.877964,-176.646031
1,ANC,Ted Stevens Anchorage International,Anchorage,Alaska,USA,61.174320,-149.996186
2,BRW,Wiley Post Will Rogers Memorial,Barrow,Alaska,USA,71.285448,-156.766002
3,BET,Bethel,Bethel,Alaska,USA,60.779776,-161.837998
4,CDV,Merle K (Mudhole) Smith,Cordova,Alaska,USA,60.491834,-145.477650
...,...,...,...,...,...,...,...
336,RKS,Rock Springs-Sweetwater County,Rock Springs,Wyoming,USA,41.594217,-109.065193
337,CLD,MC Clellan-Palomar Airport,NaN,NaN,USA,33.127231,-117.278727
338,MQT,Marquette County Airport,NaN,NaN,USA,46.353639,-87.395361
339,SCE,University Park,NaN,NaN,USA,40.851206,-77.846302
340,SPN,Tinian International Airport,NaN,NaN,N Mariana Islands,14.996111,145.621384

In [5]:
# Lat_List=merged_airports_df['LATITUDE'].to_list()
# Long_List=Lat_List=airports_df['LONGITUDE'].to_list()

# Lat_List = ("61.174320", "60.779776", "38.366667")
# Long_List = ("-149.996186", "-161.837998", "-82.558028")

In [6]:
# city_state=airports_df[["City", "STATE"]]
# city_state.tail(10)
# city_state.dropna(axis='rows')
# city_state

In [10]:
aqi_list=[]

city_state = airports_df[["City", "STATE"]]
city = city_state["City"].to_list()
state = city_state["STATE"].to_list()

for city, state in zip(city,state):
    try:
        
        url=f'http://api.airvisual.com/v2/city?city={city}&state={state}&country=USA&key={aqi_key}'
        response=requests.get(url).json()
        aqi_list.append(response['data']['current']['pollution']['aqius'])
        
    except KeyError:
        aqi_list.append('')

In [11]:
print(response)
aqi_list

{'status': 'fail', 'data': {'message': 'city_not_found'}}

['',
 9,
 2,
 9,
 5,
 '',
 9,
 2,
 '',
 2,
 7,
 '',
 5,
 8,
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 15,
 36,
 '',
 5,
 '',
 17,
 '',
 10,
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 3,
 '',
 '',
 1,
 4,
 4,
 '',
 '',
 17,
 4,
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 25,
 '',
 '',
 9,
 8,
 '',
 22,
 '',
 '',
 '',
 0,
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 4,
 25,
 '',
 '',
 25,
 17,
 '',
 29,
 25,
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [ ]:

#     response=requests.get(url).json()
#     #aqi_list.append(response['data']['current']['pollution']['aqius'])
#     print(response['data'])

In [ ]:
#from JSON response, grab the air quality index rating.

In [ ]:
aqi_list