In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress

In [4]:
# Read the airports.csv and display dataframe
topcities_df = pd.read_csv('topcitiescensusinfo.csv')
topcities_df

,CITY,STATE,POPULATION,MEDIAN HOUSEHOLD INCOME ($),POVERTY RATE (%),BACHELOR'S DEGREE OR HIGHER (%),EMPLOYMENT RATE (%),TOTAL HOUSING UNITS
0,Atlanta,GA,612919,63440,17.7,52.8,63.4,303168
1,Austin,TX,902555,68719,14.2,49.1,70.3,389609
2,Windsor Locks,CT,893561,75148,10.8,38.1,61.9,379602
3,Nashville,TN,687488,60388,14.9,41.7,68.5,312366
4,Boston,MA,684379,71115,18.9,49.7,65.0,294418
5,Baltimore,MD,828018,76866,9.0,39.4,63.2,337052
6,Cleveland,OH,385282,30907,32.7,17.5,51.3,212161
7,Charlotte,NC,857425,62817,12.8,44.3,68.0,359379
8,Columbus,OH,859734,53425,19.8,36.4,66.6,385225
9,Covington,KY,165668,64339,11.5,31.7,65.6,69661
10,Dallas,TX,2606868,59607,15.4,31.5,65.5,1013364
11,Arlington,VA,233464,120071,6.8,75.3,75.1,114779
12,Denver,CO,705576,68592,12.9,49.4,69.5,321717
13,Dallas-Fort Worth,TX,902216,59408,15.5,26.5,61.7,344827
14,Detroit,MI,674841,30894,35.0,15.3,45.9,362947
15,Newark,NJ,281054,35199,27.4,15.3,54.3,115055
16,Ft. Lauderdale,FL,309580,53333,18.6,32.4,59.6,155198
17,Honolulu,HI,199459,62409,15.6,29.4,54.7,87824
18,Houston,TX,3433961,57418,17.7,31.6,63.6,1334555
19,Chantilly,VA,1145862,124831,6.1,61.6,67.8,413885
20,Indianapolis,IN,951869,48316,17.8,30.9,62.8,423346
21,New York,NY,2287388,68666,12.2,32.2,60.6,859529
22,Las Vegas,NV,1953370,57052,14.5,23.3,60.3,804185
23,Los Angeles,CA,2603620,59080,20.0,36.6,62.1,1044666
24,Kansas City,MO,152522,45665,19.8,27.8,61.7,63255
25,Orlando,FL,620753,50493,18.2,31.3,64.6,262853
26,Chicago,IL,2709534,58247,18.4,39.5,61.5,1214450
27,Miami,FL,987620,43650,20.6,29.4,58.2,417931
28,Milwaukee,WI,951226,50606,19.0,31.0,61.6,418866
29,Minneapolis,MN,420324,62583,19.1,50.4,70.6,188017
30,New Orleans,LA,390845,41604,23.7,37.6,56.8,191808
31,Oakland,CA,448313,76114,16.3,45.8,64.7,184377
32,Portland,OR,509190,68604,14.1,45.6,67.5,213331
33,Philadelphia,PA,1579075,45927,24.3,29.7,55.3,685956
34,Phoenix,AZ,3347177,59603,15.8,30.2,61.4,1350034
35,Pittsburgh,PA,302205,48711,20.5,44.6,60.1,157311
36,Raleigh,NC,131565,59689,18.2,54.2,60.5,56478
37,Ft. Myers,FL,164510,48758,15.5,30.6,48.8,97151
38,San Diego,CA,2432359,79324,12.0,40.8,59.8,902072
39,San Antonio,TX,327297,72183,10.3,39.3,65.4,115733
40,Seattle,WA,1111484,85718,11.2,53.2,68.7,501836
41,San Francisco,CA,874961,112449,10.3,58.1,68.1,397812
42,San Jose,CA,1793112,124476,7.6,53.4,64.7,628563
43,San Juan,PR,3194000,20296,43.1,18.3,36.7,1261325
44,Salt Lake City,UT,1009285,73142,9.6,35.8,68.7,359424
45,Sacramento,CA,1157116,62956,16.1,30.0,58.3,441478
46,Santa Ana,CA,1701602,80009,12.7,30.5,62.9,514754
47,St Louis,MO,308174,43896,21.8,36.3,61.3,176729
48,Tampa,FL,712951,52293,18.2,35.1,61.6,303274